p {
    width: 90vw;
    margin-bottom: 2.5vh;
    font-size: 1.1rem;
}

.bold {
    font-weight: bold;
}

section {
    justify-content: center;
}

iframe {
    width: 90vw;
    height: 90vh;
}

@media only screen and (max-width: 1000px) {
    iframe {
        height: 50vh;
    }

    p {
        width: 80vw;
    }
}