@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@font-face {
    font-family: "Open Sauce Sans";
    src: url("./assets/fonts/open-sauce-sans-latin-300-normal.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Open Sauce Sans";
    src: url("./assets/fonts/open-sauce-sans-latin-300-italic.woff2") format("woff2");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Open Sauce Sans";
    src: url("./assets/fonts/open-sauce-sans-latin-400-normal.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Open Sauce Sans";
    src: url("./assets/fonts/open-sauce-sans-latin-400-italic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Open Sauce Sans";
    src: url("./assets/fonts/open-sauce-sans-latin-500-normal.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Open Sauce Sans";
    src: url("./assets/fonts/open-sauce-sans-latin-500-italic.woff2") format("woff2");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Open Sauce Sans";
    src: url("./assets/fonts/open-sauce-sans-latin-600-normal.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Open Sauce Sans";
    src: url("./assets/fonts/open-sauce-sans-latin-600-italic.woff2") format("woff2");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "Open Sauce Sans";
    src: url("./assets/fonts/open-sauce-sans-latin-700-normal.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Open Sauce Sans";
    src: url("./assets/fonts/open-sauce-sans-latin-700-italic.woff2") format("woff2");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Open Sauce Sans";
    src: url("./assets/fonts/open-sauce-sans-latin-800-normal.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Open Sauce Sans";
    src: url("./assets/fonts/open-sauce-sans-latin-800-italic.woff2") format("woff2");
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: "Open Sauce Sans";
    src: url("./assets/fonts/open-sauce-sans-latin-900-normal.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Open Sauce Sans";
    src: url("./assets/fonts/open-sauce-sans-latin-900-italic.woff2") format("woff2");
    font-weight: 900;
    font-style: italic;
}


:root {
    --primary: #F5F2D0;
    --secondary: #519950;
}

* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--primary);
    font-family: "Open Sauce Sans";
    font-style: normal;
    font-weight: 500;
}

header {
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

header #links {
    font-size: 1.2rem;
}

header div {
    display: flex;
    flex-direction: row;
    gap: 1vw;
    align-items: center;
}

header img {
    aspect-ratio: 1/1;
    width: 50px;
    object-fit: cover;
}

footer {
    width: calc(100% - 20px);
    background-color: var(--secondary);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--primary);
    font-size: 0.9rem;
    padding: 10px;
}

footer h1 {
    color: white;
}

h1#jor {
    font-size: 4rem;
}

h1#ufms {
    writing-mode: sideways-lr;
    font-size: 1.2rem;
    font-weight: 200;
    display: block;
}

footer #logo-jor {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#email a {
    color: var(--primary);
    text-decoration: underline;
}

footer span {
    font-weight: bold;
}

footer p {
    display: inline;
}

span#title {
    font-family: "Shantell Sans", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "BNCE" 0,
        "INFM" 0,
        "SPAC" 0;

    font-size: 2rem;
    color: var(--secondary);
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5vh;
}

a {
    color: black;
    text-decoration: none;
}

h1 {
    color: var(--secondary);
}

figcaption {
    color: black;
    text-align: right;
}

#media a {
    color: white;
}

footer svg {
    fill: var(--primary);
}

.fake-grid-lanes {
    display: block;
    columns: 30vw;
    column-gap: 1px;
    margin: 0 auto;
    width: 95vw;
}

.fake-grid-lanes figure {
    width: 30vw;
    margin-bottom: 1vh;
}

.fake-grid-lanes figure img {
    width: 30vw;
    border-radius: 16px;
}

.fake-grid-lanes figcaption {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.by {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
}

#actions {
    display: none;
    flex-direction: row;
    gap: 4px;;
}

#menu-container {
    display: none;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background-color: var(--secondary);
    border-radius: 8px;

    cursor: pointer;
}

#menu {
    display: none;
    width: 24px;
    height: 24px;
}

#contact {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

#go-back {
    width: 32px;
    height: 32px;
    background-color: var(--secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

#go-back svg {
    width: 16px;
    height: 16px;
    background-color: var(--secondary);
}

#menu-page {
    display: none;
    width: 100%;
    height: 100%;
    z-index: 2;

    background-color: var(--primary);
    position: absolute;
}

#menu-options {
    position: absolute; 
    top: 50%;
    left: 25%;
    transform: translateY(-50%) translateX(-25%);
    display: flex;
    flex-direction: column;
    gap: 4px;
}

#close-menu {
    width: 32px;
    height: 32px;

    position: absolute;
    right: 25%;
    top: 25%;
    transform: translateX(-25%) translateY(-25%);
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
    #links {
        display: none;
    }

    #actions {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #menu-container {
        display: flex;
    }

    #menu {
        display: inline;
    }

    footer {
        flex-direction: column;
    }

    #contact {
        word-break: break-all;
    }

    .fake-grid-lanes {
        columns: 2;
        column-width: 45vw;
    }

    .fake-grid-lanes figure {
        width: 45vw;
    }

    .fake-grid-lanes figure img {
        width: 45vw;
    }

    .by {
        margin-top: 10px;
    }
}