#hypermedia {
    width: 90vw;
    min-height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}

#hypermedia img, #hypermedia figure {
    width: 44vw;
}

#hypermedia figure h2 {
    text-align: center;
}

#hypermedia img {
    border-radius: 16px;
}

.hypermedia-content {
    width: 60vw;
    margin: 5vh auto;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.hypermedia-content h1 {
    color: black;
}

.hypermedia-content h1, .hypermedia-content p {
    width: 60vw;
}

.hypermedia-content figure, .hypermedia-content img {
    width: 50vw;
}

.hypermedia-content {
    border-radius: 16px;
}

.hypermedia-content a {
    color: var(--secondary);
    text-decoration: underline;
}

.hypermedia-content figcaption {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 2px;
}

.hypermedia-content ul {
    list-style-type: "\2D\20";
    margin-left: 20px;
}

.hypermedia-content h2 {
    align-self: flex-start;
}

#box {
    background-color: #E8DDC7;
    padding-left: 10px;
    margin: 0;
    border: 1px solid black;
}

#box li {
    list-style-position: inside;
}

#map {
    display: flex;
    flex-direction: row;
}

#locations {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media only screen and (max-width: 820px) {
    #hypermedia {
        flex-direction: column;
        gap: 2vh;
    }

    #hypermedia img, #hypermedia figure {
        width: 90vw;
    }

    .hypermedia-content {
        width: 80vw;
    }

    .hypermedia-content figure, .hypermedia-content img {
        width: 80vw;
    }

    .hypermedia-content h1, .hypermedia-content p {
        width: 80vw;
    }
}