#project-info {
    flex-direction: row;
    padding: 10px;
    width: calc(100vw - 40px);
    align-items: start;
    gap: 10px;
}

#project-photos {
    display: grid;
    grid-template: repeat(2, auto) / repeat(2, 24vw);
    gap: 10px;
    width: 50vw;
}

#project-text {
    width: 45vw;
}

#project-text h1 {
    margin-bottom: 2.5vh;
}

#project-text p {
    color: black;
    font-size: 1.1rem;
}

ul {
    margin-top: 10px;
    margin-left: 30px;
}

li {
    color: black;
    margin-bottom: 5px;
    font-size: 1.1rem;
}

li span {
    font-weight: bold;
}

#project-photos figure {
    width: 24vw;
}

#project-photos img {
    width: 24vw;
    border-radius: 16px;
}

@media only screen and (max-width: 1000px) {
    #project-info {
        flex-direction: column-reverse;
    }

    #project-text {
        width: 90vw;
    }

    #project-photos {
        width: 90vw;
        grid-template: repeat(2, auto) / repeat(2, 44vw);
    }

    #project-photos figure, #project-photos img {
        width: 44vw;
    }
}