#project-info {
    flex-direction: row;
    padding: 10px;
    width: calc(100vw - 40px);
    align-items: start;
    gap: 10px;
}

#project-photos {
    display: grid;
    grid-template: auto auto auto auto / 24vw 24vw;
    gap: 10px;
    width: 50vw;
}

#project-text {
    width: 45vw;
    height: 80vh;
}

#project-text p {
    color: black;
    font-size: 1.1rem;
}

ul {
    margin-top: 10px;
    margin-left: 30px;
}

li {
    color: black;
    margin-bottom: 5px;
    font-size: 1.1rem;
}

li span {
    font-weight: bold;
}

#project-photos img {
    width: 24vw;
    border-radius: 16px;
}