#team img {
    height: 30vh;
    width: auto;
    border-radius: 16px;
    filter: grayscale(100%);
}

#team h1 {
    font-size: 1.4rem;
}

.team-member {
    display: flex;
    flex-direction: row;
    width: 90vw;
    margin-bottom: 5vh;
}

#team figure {
    margin-right: 1vw;
}

.team-description {
    display: flex;
    flex-direction: column;
    color: black;
    font-size: 1.2rem;
    max-width: 60vw;
}

.right {
    display: flex;
    flex-direction: row-reverse;
}