#team img {
    width: 15vw;
    border-radius: 16px;
    filter: grayscale(100%);
}

#team figure {
    float: left;
    width: 15vw;
    margin-right: 16px;
    height: min-content;
}

#team .right figure {
    float: right;
    margin-right: 0;
    margin-left: 2px;
}

#team h1 {
    font-size: 1.4rem;
}

.team-member {
    width: 90vw;
    margin-bottom: 5vh;
}

section {
    margin-bottom: 0;
}

.team-description {
    display: flex;
    flex-direction: column;
    color: black;
    font-size: 1.2rem;
    max-width: 60vw;
}

.right {
    display: flex;
    flex-direction: row-reverse;
}

#team-photo-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
}

#team-photo figure {
    width: 50vw;
}

#team-photo img {
    width: 50vw;
    border-radius: 16px;
}

@media only screen and (max-width: 1000px) {
    .right {
        display: block;
    }

    #team img {
        width: 30vw;
    }
    
    #team figure {
        width: 30vw;
        margin-right: 10px;
        margin-bottom: 2px;
    }

    .team-description {
        display: block;
        max-width: 100%;
    }
}